<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>TelePorte – Veja qualquer lugar</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
  <div class="container">
    <header>
      <a href="/" class="logo">TelePorte</a>
      <nav>
        <a href="/cadastro">Criar Conta</a>
        <a href="/login">Entrar</a>
        <a href="/privacidade">Privacidade</a>
        <a href="/investidores">Investidores</a>
        <a href="/adm" style="color: #FF9F1C;">🔐 Admin</a>
      </nav>
    </header>

    <section class="hero fundo-contratar">
      <div>
        <h1 class="fade-in">Veja qualquer lugar do Brasil em tempo real!</h1>
        <p class="fade-in">Escolha contratante: Publique já suas tarefas, realize o pagamento e receba seu relatório em tempo recorde! <br>Escolha realizar tarefa: Com um celular em mãos realize o sonho de seu contratante temporário, aceite tarefas perto de você e tenha uma renda extra!</p>
      </div>
    </section>

    <section class="features fade-in">
      <div class="card">
        <h3>💼 Para Contratantes</h3>
        <p>Nunca foi tão fácil e rápido, e principalmente discreto, verificar um ponto de vendas, um colaborador, um produto na vitrine, uma obra, ou detalhes de um ponto turístico, e muito mais... Veja lojas, eventos, jogos, produtos ou documentos em tempo real.</p>
      </div>
      <div class="card">
        <h3>🛠️ Para Prestadores</h3>
        <p>Tudo que você precisa é um bom celular com uma boa câmera, gps ativado, estar no local certo na hora certa e dispor de uma fração do seu tempo para realizar tarefas, ganhe dinheiro visitando lojas, pontos turísticos, criando pequenas provas fotográficas e descrição de fatos. Receba ao realizar tarefas simples com seu celular.</p>
      </div>
      <div class="card">
        <h3>🔐 Seguro e Rápido</h3>
        <p>Contratante solicita uma tarefa e realiza um pagamento na plataforma solicitando uma tarefa e local no mapa, usuário próximo ao local aceita a tarefa, aprovação de prova ou tarefa realizada, pagamento aprovado, dinheiro para você!</p>
      </div>
    </section>
  </div>

  <script src="/static/js/script.js"></script>
</body>
</html>